
body{
background: url(../images/santa_maria_1.jpg) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}
div, body{
  margin: 0;
  padding: 0;
}
p {
	text-align: justify;
}
.wrapper {
  height: 100%;
  width: 100%
}
#slogan {
	padding: 0px;
}
#slogan1 {
margin: 20px 0px 0px 0px;
padding: 0px;
text-shadow: 3px 2px 4px #757575;
background-color: #0277bd;
}
#slogan2 {
margin: 0px;
padding: 0px;
background-color: #0277bd;
}
nav {
  color: #fff;
  background-color: #0277bd;
	width: 100%;
  height: 100px;
  line-height: 56px;
	padding: 0px;
	margin: 0px;
}
#nav-mobile {
	padding: 0px;
	margin: 0px;
}
#btn_nav {
	padding: 0px 4px;
	margin: 0px 4px;
}
#menu {
	margin: 0px;
	padding: 0px;
}
.responsive-img{
  border: 0.2rem solid #ffffff;
  border-radius: 5px;
  margin-top: 10px;
}
.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:45%;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;
}
.left-sidebar {
  position: fixed;
  top: 44%;
  z-index:999;
  padding: 0px;
  margin: 0px;
}
.left-sidebar ul {
  border: none;
}
.left-sidebar i.fa {
  padding: 0px;
  font-size: 25px;
}
.left-sidebar li {
  width: auto;
  transition: 5s;
}
#left_sidebar {
  padding: 8px;
  margin: 0px;
}
#galeria {
  border: 2px;
}
#new_back {
	margin: 0px 0px 0px 10px;
	padding: 0px 20px 0px 0px;
}
#new_img {
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 0px;
	border-radius: 5px;
	margin-top: 5px;
}
#new_info {
	display: inline-block;
	padding: 4px;
	margin-top: 5px;
	background-color: #DFDFDF !important;
  color: #000000 !important;
	border-radius: 5px;
	font-size: 0.8rem;
}
#new_icons {
margin: 0px;
padding: 1px 0px 0px 2px;
}
#padding_top_20px {
	padding-top: 20px;
}
#autor {
	padding: 0px 40px 0px 40px;
}
#autor_title {
	border-bottom: 2px solid;
	border-color: #DFDFDF;
	margin-bottom: 10px;
}






















#top {
  color: #fff;
  background-color: #0277bd;
  width: 100%;
  height: 60px;
  line-height: 56px;
	padding: 0px;
	margin: 0px;
}
@media screen and (max-width: 600px){
	nav {
	  color: #fff;
	  background-color: #0277bd;
	  width: 100%;
	  height: 140px;
	  line-height: 56px;
		padding: 0px;
		margin: 0px;
	}
	#slogan1 {
	margin: 10px 0px 0px 0px;
	padding: 0px;
	text-shadow: 3px 2px 4px #757575;
	background-color: #0277bd;
	}
}
